# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
.svn
bin/
obj/
node_modules/
files_temp/
log/
Log4Net/
backup/
publish/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
packages/
PublishProfiles/
*.csproj.user

# Editor directories and files
.idea
.vs
.vscode
*.suo
*.ntvs*
Logs.txt*

